body {
    font-family: 'Nunito Sans';
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 90%;
}

/*table,
td {
    border: 1px dashed;
    border-color: rgb(235, 235, 235);
}*/

.header-column {
    width: 400px;
}

.number-column {
    width: 25px;
}

.column-larger {
    width: 250px;
}

.column-large {
    width: 150px;
}

.column {
    width: 100px;
}

.column-small {
    width: 80px;
}

.column-smaller {
    width: 70px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: [start] 1fr [div1] 3fr [end];
    column-gap: 40px;
    height: 100%;
    width: 1250px;
    margin: auto;
}

.side-navigation-holder {
    grid-column-start: start;
    margin-top: 25px;
}

.content {
    grid-column: div1/end;
    overflow: auto;
    padding-right: 40px;
}

/*.content::-webkit-scrollbar {
    display: none;
}*/

::-webkit-scrollbar {
    width: 20px;
  }

::-webkit-scrollbar-track {
    background-color: rgb(250, 250, 250);
    /*border: 1px solid;
    border-color: rgb(235, 235, 235);*/
    border-radius: 15px;
  }

::-webkit-scrollbar-thumb {
    background-color: rgb(21, 190, 212);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

.cell-right {
    text-align: right;
}

.cell-left {
    text-align: left;
}

.table-total,
.table-header {
    font-weight: bold;
}

a {
    color: rgb(21, 190, 212);
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: xxx-large;
}

h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: x-large;
    color: rgb(21, 190, 212);
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: x-large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: medium;
    color: rgb(21, 190, 212);
    margin-bottom: 0px;
}

h6 {
    font-size: medium;
    font-weight: normal;
    color: rgb(124, 223, 236);
    margin-top: 10px;
    margin-bottom: 0px;
}

.no-padding-top {
    margin-top: 0px;
}

.no-padding-bottom {
    margin-bottom: 0px;
}

h5 + table {
    margin-top: 21.28px;
}

.navigation-level-1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: x-large;
    color: rgb(21, 190, 212);
    list-style: none;
}

.navigation-level-2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: medium;
    color: #000;
    list-style: '- ';
}

.navigation-list {
    vertical-align: top;
    padding-right: 10px;
}

.navigation-header {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: x-large;
    color: rgb(21, 190, 212);
    list-style: none;
    margin-left: 20px;
}

.side-navigation-holder a {
    background: linear-gradient(0deg, rgb(21, 190, 212), rgb(21, 190, 212)) no-repeat right bottom / 0 1px;
    transition: background-size 350ms;
    padding-bottom: 1px;
    text-decoration: none;
    color: #000;
}

.side-navigation-holder a:where(:hover, :focus-visible) {
    background-size: 100% 1px;
    background-position-x: left;
    color: rgb(21, 190, 212);
}

.side-navigation-holder ul {
    padding-left: 20px;
    margin-top: 0px;
}

.side-navigation-holder li {
    padding-top: 5px;
}

.border-right {
    border-right: 1px solid #000;
    padding-right: 10px;
}

.empty-row {
    height: 22px;
}

.people {
    color: #f68b28;
    font-weight: bold;
}

.planet {
    color: #0eb89a;
    font-weight: bold;
}

.prosperity {
    color: #073f83;
    font-weight: bold;
}